<html>
	<head>
		<style type="text/css">
			#console 
			{
    			background-color: lightblue;
			}
		</style>
	</head>
	<body>
		<div>
			<h2>MUNDO WUMPUS</h2>
		</div>
		<table style="width:100%">
  			<tr>
    			<th></th>
    			<th></th> 
    			<th></th>
			  </tr>
			<% if @wumpusvivo %> 
  			<tr>
    			<td>
    				<div>
    					<% if @north %>
 							<form method="post" action="/toNorth">
								<button type="submit" name="Norte">Norte</button>
								
							</form>
							<% if @numberOfArrows>=1 %>
								<form method="post" action="/shootToTop">
								<button type="submit" name="shootTop">disparar al norte</button>
								</form>
							<%end%>
						<% end %>
						<% if @south %>
 							<form method="post" action="/toSouth">
        						<button type="submit" name="Sur">Sur</button>
							</form>
							<% if @numberOfArrows>=1 %>
								<form method="post" action="/shootToBottom">
								<button type="submit" name="shootBot">disparar al sur</button>
								
								</form>
							<% end %>
						<% end %>
						<% if @east %>
 							<form method="post" action="/toEast">
        						<button type="submit" name="Este">Este</button>
							</form>
							<% if @numberOfArrows>=1 %>
								<form method="post" action="/shootToRight">
								<button type="submit" name="shootRight">disparar al este</button>
								</form>
							<% end %>
						<% end %>
						<% if @west %>
 							<form method="post" action="/toWest">
        						<button type="submit" name="Oeste">Oeste</button>
							</form>
							<% if @numberOfArrows>=1 %>
								<form method="post" action="/shootToLeft">
								<button type="submit" name="shootLeft">disparar al oeste</button>
								</form>
							<% end %>
						<% end %>
						
					</div>
    			</td>
    			<td>
    				<div id="console">
						<label>Entraste a la cueva <%= @mensaje %></label>
						<br></br>
						<label> <%= $m %></label>
						
    					<br>
    					<% if @smell %>
 							<label>Se siente un olor fetido en este cuarto</label>
						<% end %>
    				</div>
    			</td>
    			<td>
    				<label>Flechas: <%= @numberOfArrows %></label>
    			</td>
			  </tr>
			<% else %>
				<h2>Gano!!!!</h2>
			<% end %>
		</table>
	</body>
</html>
