<html>
	<head>
		<style type="text/css">
			#console 
			{
    			background-color: lightblue;
			}
		</style>
	</head>
	<body>
		<div>
			<h2>MUNDO WUMPUS</h2>
		</div>
		<table style="width:100%">
  			<tr>
    			<th></th>
    			<th></th> 
    			<th></th>
  			</tr>
  			<tr>
    			<td>
    				<div>
						<form method="get" action="/">
        					<button type="submit" name="Norte">Norte</button>
						</form>
					</div>
    			</td>
    			<td>
    				<div id="console">
    				
    				</div>
    			</td>
    			<td>OBJECT</td>
  			</tr>
		</table>
	</body>
</html>
