<center>
	</form><br><br>
    <h2><%= @mensaje %></h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form method="get" action="/play">
    	<button type="submit" name="INICIO">INICIO</button>
	</form>
<center>